/* line 68, flag/*.png */
.flag-sprite, .flag-AT, .flag-DE, .flag-GB, .flag-RU {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAkCAMAAAC3xkroAAAAz1BMVEUAAAAKFnYLE3YLFXcNGoQOGIQWNZAWNpEcNaUfO7cpQospQowtSpsuS5o4BGI4BmM/Bm8/CHCVor+Wo8CntdSottW8ADW9ACm+ACrCx9TDAADDxtPDxtTMAADMzMzNABDNABbPAADPz8/QAADSAD3UAC/WACPWACXYAADY3OvZAADZ3OvZ3Ozaq7na2trjABXjABjkABTkABrkYnnlYHjmAADnAADxv83ywM7zv83zv875wAD5wQD6wQD8bIb9bYf+dIv+dYz/2QD/2gD////ucHofAAABIUlEQVR42oWRzUvDQBDFZ3cnaUHbSipFGxQlBy8Vi///vd4MHhT0oCAlbWk0MWjamMw6+eghidAsWea9fbMwv8UzqH8IpzXtITQTol/Ti3aiZeivmtb/tHgN433vpS3DsapK6PxfY1nxXhRCIlcC2GKheRGOjV2myJlILHXVpTmHkAhgU1B5j0YvjLdajExIFyQPO+f4c43udmOhTJaDY9u4x6V/MUEXgIQzVm6U4ORAJLGjAuipWDoqQj8jyecSQpnvAQ57JAlkQBZ3iUzho+pPs7nZpXB1k85fNQ5ukzc/uuLY5113aj/h5cPmW0NgQJrF8axzhL8nuzmsCtCoxmfVJvb8svddmoZtlWxyoNzxUUIucBbgCGENMh+PseXTyT9fLnUVs8czdgAAAABJRU5ErkJggg==');
}

/* line 84, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.flag-AT {
  background-position: 0 0;
}

/* line 84, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.flag-DE {
  background-position: 0 -9px;
}

/* line 84, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.flag-GB {
  background-position: 0 -18px;
}

/* line 84, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.flag-RU {
  background-position: 0 -27px;
}

/* line 5, ../_sass/flags.scss */
.flag {
  display: inline-block;
  width: 16px;
  height: 9px;
}
