!!!
%html{:lang => "en"}
  %head
    %meta{:content => "follow", :name => "robots"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "en", :name => "language"}
    %meta{:content => "{{ site.name }}", :name => "copyright"}
    %meta{:content => "{{ site.description }}", :name => "description"}
    %meta{:content => "{{ site.keywords }}", :name => "keywords"}
    %meta{:content => "width = device-width; initial-scale = 1, maximum-scale = 1; minimum-scale = 1; user-scalable = no", :name => "viewport"}

    %title= "{{ site.description }}"

    %link{:href => "//fonts.googleapis.com/css?family=PT+Serif:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:charset => "utf-8", :href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"}
    %link{:charset => "utf-8", :href => "/css/print.css", :rel => "stylesheet", :type => "text/css", :media => 'print'}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-449715-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %article
      = "{{ content }}"

    {% include footer.html %}

    %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}
    %script{:src => "//mc.yandex.ru/metrika/watch.js", :type => "text/javascript"}
    :javascript
      try { var yaCounter1614651 = new Ya.Metrika({id:1614651,
                clickmap:true,
                trackLinks:true, webvisor:true});}
      catch(e) { }
    %noscript
      %div
        %img{:alt => "", :src => "//mc.yandex.ru/watch/1614651", :style => "position:absolute; left:-9999px;"}
