!!!
%html{:lang => "en"}
  %head
    %meta{:content => "follow", :name => "robots"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "en", :name => "language"}
    %meta{:content => "{{ site.name }}", :name => "copyright"}
    %meta{:content => "{{ site.description }}", :name => "description"}
    %meta{:content => "{{ site.keywords }}", :name => "keywords"}
    %meta{:content => "width = device-width; initial-scale = 1, maximum-scale = 1; minimum-scale = 1; user-scalable = no", :name => "viewport"}

    %title= "{{ site.description }}"

    %link{:href => "//fonts.googleapis.com/css?family=PT+Serif:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:charset => "utf-8", :href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"}
    %link{:charset => "utf-8", :href => "/css/print.css", :rel => "stylesheet", :type => "text/css", :media => 'print'}

    %script{:async => true, :src => "https://cdn.splitbee.io/sb.js"}
  %body
    %article
      = "{{ content }}"

    {% include footer.html %}

    %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}
