\---
layout: default
\---

%section.vcard
  %header.section_about
    %img.photo{:alt => "{{ site.name }} portrait", :src => "{{ site.photo }}?s=128"}
    %p<
      Hi! I&rsquo;m
      %em.fn<
        %span.given-name= "{{ site.given_name }}"
        %span.family-name= "{{ site.family_name }}"
      %span> &nbsp;&mdash;&nbsp;a
      %em.role
        Front End Engineer and
        %abbr(title="User Interface") UI
        &amp;
        %abbr(title="User Experience") UX
        designer
      from
      Russia
      %i.flag.flag-RU
      living in
      %em.location Vienna, Austria
      %i.flag.flag-AT

    %p I’m passionate about UI and UX design, typography, music, photography, mountain biking and coffee.

    %p I’m an engineer with a Master’s degree in Computer Science, but I’m also a designer. I love solving complex problems, no matter if it’s a design or technical challenge. I mostly design in code using JavaScript and CSS, but when it’s required I use graphic editors as well.

    %p I believe that &ldquo;No UI == Best UI&rdquo; and that good UI is how things work and not just how they look. I value statistics and tend to verify my ideas using prototypes and usability tests.

    %p
      I care about code readability and maintainability and actively use linters and code analysis. I’m the author of
      %a(href='https://github.com/okonet/lint-staged') 🚫💩 lint-staged
      — a simple tool to enforce code quality in teams.

    %p When writing styles, I use CSS-modules or, when not possible, BEM and I believe that CSS-in-JS is the future of CSS.

  %aside.section_resume-link
    %ul.links
      %li.link_resume
        %a(href='/resume/') Complete resume
      %li.link_vcard
        %a(href="/vcard.vcf") Get a VCard

  %section.section_clients.clients
    %h3.clients__heading Clients &amp; projects I&rsquo;ve worked for:
    %ul.clients__list
      %li.client
        %a(href="//feedly.com/")
          %img.client__logo(src="img/clients/feedly.svg")
          %h3.client__name Feedly
          %p.client__descr Product designer and Front-end developer for the most popular RSS reader.
      %li.client
        %a(href="//colorsnapper.com/")
          %img.client__logo(src="img/clients/colorsnapper.png")
          %h3.client__name ColorSnapper
          %p.client__descr Co-founder &amp; product designer of a color picker Mac&nbsp;OS&nbsp;X application.
      %li.client
        %a(href="//kaffemik.at/")
          %img.client__logo(src="img/clients/kaffemik.svg")
          %h3.client__name Kaffemik
          %p.client__descr
            Co-founder of the third-wave coffee shop in the heart of Vienna.
      %li.client
        %a(href="//jetbrains.com/")
          %img.client__logo(src="img/clients/jetbrains.svg")
          %h3.client__name JetBrains
          %p.client__descr Front-end developer and UI-designer.
      %li.client
        %a(href="//yandex.ru/")
          %img.client__logo(src="img/clients/yandex.svg")
          %h3.client__name Yandex
          %p.client__descr
            JavaScript
            %abbr(title="User Interface")< UI
            \-developer for a client-side application.
      %li.client
        %a(href="//beanstalkapp.com/")
          %img.client__logo(src="img/clients/beanstalk.png")
          %h3.client__name Beanstalk
          %p.client__descr
            Product designer. Designed logo, promo site and the
            %abbr(title="User Interface") UI
            for the web application.

  %section.section_oss
    %h3
      %a{:href => "http://github.com/okonet", :title => "okonet's Profile - GitHub"} Open Source projects
      I&rsquo;ve worked on
    {% include projects.html %}

  %section.section_profiles
    %h3 My public profiles at
    {% include profiles.html %}

    %p If you want to hire me, just let me know about your project and let&rsquo;s talk:
    {% include email.html %}

    %p
      %a.twitter-follow-button{:href => "http://twitter.com/okonetchnikov"} Follow @okonetchnikov
