---
layout: default
---
<section class='vcard'>
  <header class='section_about'>
    <img alt='{{ site.name }} portrait' class='photo' src='{{ site.photo }}?s=128'>
    <p>Hi! I&rsquo;m
    <em class='fn'><span class='given-name'>{{ site.given_name }}</span>
    <span class='family-name'>{{ site.family_name }}</span></em><span>&nbsp;&mdash;&nbsp;a</span><em class='role'>
      front-end engineer and
      <abbr title='User Interface'>UI</abbr>
      &amp;
      <abbr title='User Experience'>UX</abbr>
      designer
    </em>
    from
    Yaroslavl, Russia
    <i class='flag flag-RU'></i>
    living in
    <em class='location'>Vienna, Austria</em>
    <i class='flag flag-AT'></i></p>
    <p>
      I&rsquo;ve been working as a web-professional
      <em>since 1999</em>
      and became an expert in
    </p>
    <ul class='skills'>
      <li>JavaScript &amp; CoffeeScript</li>
      <li>HTML5 &amp; CSS3</li>
      <li>User Interface &amp; Experience Design</li>
      <li>Visual&nbsp;&amp;&nbsp;Graphic Design</li>
      <li>Typography</li>
      <li>Information&nbsp;Architecture</li>
      <li>Usability</li>
      <li>Accessibility</li>
    </ul>
  </header>
  <aside class='section_resume-link'>
    <ul class='links'>
      <li class='link_resume'>
        <a href='/resume'>Complete resume</a>
      </li>
      <li class='link_vcard'>
        <a href='/vcard'>Get a VCard</a>
      </li>
    </ul>
  </aside>
  <section class='section_clients clients'>
    <h3 class='clients__heading'>Clients &amp; projects I&rsquo;ve worked for:</h3>
    <ul class='clients__list'>
      <li class='client'>
        <a href='//colorsnapper.com/'>
          <img class='client__logo' src='img/clients/colorsnapper.png'>
          <h3 class='client__name'>ColorSnapper</h3>
          <p class='client__descr'>Co-founder &amp; product designer of a color picker Mac&nbsp;OS&nbsp;X application.</p>
        </a>
      </li>
      <li class='client'>
        <a href='//kaffemik.at/'>
          <img class='client__logo' src='img/clients/kaffemik.svg'>
          <h3 class='client__name'>Kaffemik</h3>
          <p class='client__descr'>
            Co-founder of the third-wave coffee shop in the heart of Vienna.
          </p>
        </a>
      </li>
      <li class='client'>
        <a href='//sauspiel.de/'>
          <img class='client__logo' src='img/clients/sauspiel.png'>
          <h3 class='client__name'>Sauspiel</h3>
          <p class='client__descr'>CoffeeScript/CSS3 developer of the game client available for desktop and mobile devices.</p>
        </a>
      </li>
      <li class='client'>
        <a href='//jetbrains.com/'>
          <img class='client__logo' src='img/clients/jetbrains.svg'>
          <h3 class='client__name'>JetBrains</h3>
          <p class='client__descr'>Front-end developer and UI-designer.</p>
        </a>
      </li>
      <li class='client'>
        <a href='//yandex.ru/'>
          <img class='client__logo' src='img/clients/yandex.svg'>
          <h3 class='client__name'>Yandex</h3>
          <p class='client__descr'>
            JavaScript
            <abbr title='User Interface'>UI</abbr>
            -developer for a client-side application.
          </p>
        </a>
      </li>
      <li class='client'>
        <a href='//beanstalkapp.com/'>
          <img class='client__logo' src='img/clients/beanstalk.png'>
          <h3 class='client__name'>Beanstalk</h3>
          <p class='client__descr'>
            Product designer. Designed logo, promo site and the
            <abbr title='User Interface'>UI</abbr>
            for the web application.
          </p>
        </a>
      </li>
    </ul>
  </section>
  <section class='section_oss'>
    <h3>
      <a href='http://github.com/okonet' title="okonet's Profile - GitHub">Open Source projects</a>
      I&rsquo;ve worked on
      {% include projects.html %}
    </h3>
  </section>
  <section class='section_profiles'>
    <h3>My public profiles at</h3>
    {% include profiles.html %}
    <p>If you want to hire me, just let me know about your project and let&rsquo;s talk:</p>
    {% include email.html %}
    <p>
      <a class='twitter-follow-button' href='http://twitter.com/okonetchnikov'>Follow @okonetchnikov</a>
    </p>
  </section>
</section>
