\---
title: Resume
layout: default
\---

%section.resume

  %section.section.resume__personal.vcard
    %h1.fn<
      %img.photo{:alt => "{{site.name}} portrait", :src => "{{site.photo}}?s=128"}
      %span.given-name= "{{site.given_name}}"
      %span.family-name= "{{site.family_name}}"

    %p
      %span.role {{ site.role }}
      from
      %span.location {{ site.addr_locality }}, {{ site.addr_country }}
      %i.flag.flag-AT

    %dl
      %dt Email
      %dd.email
        {% include email.html %}

      %dt Address
      %dd.adr
        %span.type {{ site.location }}
        %span.street-address>< {{ site.addr_street }}
        %br
        %span.postal-code {{ site.addr_postalcode }}
        %span.locality>< {{ site.addr_locality }}
        ,
        %span.country-name {{ site.addr_country }}
      %dt Date of birth
      %dd 15 January 1981
      %dt Place of birth
      %dd
        Yaroslavl, Russia
        %i.flag.flag-RU
      %dt Marital status
      %dd married

  %section.section.resume__education
    %h2.section__title Education
    %dl
      %dt 09.1998 &mdash; 06.2003
      %dd Yaroslavl State University, Computer Science Department
      %dt 06.2002
      %dd
        %h3 Bachelor degree in Computer Science
        %p
          Diploma on &ldquo;Websites engineering and development methodology.&rdquo; &mdash;
          %strong excellent
      %dt 11.2002 &mdash; 04.2003
      %dd
        Field trip to Volkswagen AG (Wolfsburg, Germany
        %i.flag.flag-DE<
        ) as a UI designer
      %dt 06.2003
      %dd
        %h3 Master degree in Computer Science
        %p
          Diploma on „The analysis of patterns and their uses in UI development. Implementation of PartnerNet Volkswagen &amp; PartnerNet Volkswagen Nutzfahrzuege UIs using pattern language approach&ldquo; &mdash;
          %strong excellent

  %section.section.resume__experience
    %h2.section__title Work experience
    %dl
      %dt 2013 &mdash; present
      %dd
        %h3
          Freelance Front-end Developer, Vienna, Austria
          %i.flag.flag-AT
        %ul
          %li Front-end development using modern web-technologies incluing but not limited by JavaScript, HTML5, SVG and CSS3
          %li Technology stack: React.js, Webpack, jQuery, Node.js, etc.
          %li Consulting: rendering performance, JavaScript performance, CSS
          %li
            Co-organizer of the
            %a(href='http://www.meetup.com/Vienna-ReactJS-Meetup/')
              ReactVienna meetup

      %dt 11.2015 &mdash; 08.2016
      %dd
        %h3
          %a(href='http://wildbit.com/') Wildbit LLC
          , remote from Vienna, Austria
          %i.flag.flag-AT
        %ul
          %li
            Developed front- and back-end for the
            %a(href='http://status.postmarkapp.com/') Postmarkapp.com status page
          %li Front-end stack: Webpack, React.js, npm, PostCSS, stylelint, ESLint, Mocha + Chai etc.
          %li Back-end: developed an express.js-based API
          %li Technology stack: Webpack, React.js, CSS-modules, Node.js, express.js, Mocha, PostCSS

      %dt 01.2015 &mdash; 11.2015
      %dd
        %h3
          %a(href='http://adspired.com/') Adspired
          , Vienna, Austria
          %i.flag.flag-AT
        %ul
          %li Developed a "big-data" analytics product targeting advertisement partners around the world.
          %li Took part in product design, including features, user interface, user flow and information architecture.
          %li Implemented highly interactive SVG-based visualizations using JavaScript (ES2015 and ES7 with Babel.js)
          %li Architected the front-end stack: developer tools (webpack, npm), linting (ESLint), tests (Mocha + Chai), CI (Jenkins) etc.
          %li Technology stack: Webpack, React, AngularJS, Flux
      %dt 03.2014 &mdash; present
      %dd
        %h3
          %a(href='http://kaffemik.at') Bunch of Nerds KG
          , Vienna, Austria
          %i.flag.flag-AT
        %p Co-owner of the third-wave coffee shop in the center of Vienna, Austria

      %dt 01.2013 &mdash; 01.2014
      %dd
        %h3
          %a(href='http://jetbrains.com') JetBrains GmbH
          , remote from Vienna, Austria
          %i.flag.flag-AT
          &mdash;
          München, Germany
          %i.flag.flag-DE
        %p Front-end developer
        %ul
          %li Developed front-end for the never released project &mdash; source control service with simple UI
          %li Technologies used: JavaScript, CoffeeScript, HTML5, CSS3, SVG
          %li User Interaction &amp; User Experience design
      %dt 08.2010 &mdash; 01.2013
      %dd
        %h3
          %a(href='http://bummerl.at') Bummerl GmbH
          , Vienna, Austria
          %i.flag.flag-AT
        %p Senior UI designer &amp; JavaScript developer
        %ul
          %li Developed a highliy interactive real time game client using JavaScript (CoffeeScript) / HTML5 and CSS3 (migration from Flash/Flex)
          %li Supported front-end of the 4 community websites (HTML / CSS / JS)
          %li Created visual design for iOS applications (icons design, UI elements etc.)
      %dt 07.2011 &mdash; 12.2011
      %dd
        %h3
          %a(href="http://yandex.ru") Yandex (Яндекс)
          , remote from Vienna, Austria
          %i.flag.flag-AT
        %p UI developer
        %ul
          %li Developed To-Do web application for mail.yandex.ru project using JavaScript and XSLT
          %li Took part in UI design process

      %dt 07.2008 &mdash; 08.2010
      %dd
        %h3
          %a(href="http://wollzelle.com") Wollzelle GmbH
          , Vienna, Austria
          %i.flag.flag-AT
        %p Senior UI Designer &amp; Developer
        %ul
          %li Designed UI for websites and web applications Developed rapid and detailed UI and websites prototypes
          %li Developed production xHTML/CSS/JavaScript %li code Developed for front-end (JavaScript, AJAX etc.)
          %li Drove usability tests
          %li Consulted in fields of interaction design, HCD, usability
      %dt 12.2005 &mdash; 07.2008
      %dd
        %h3
          %a(href="http://wildbit.com") WildBit LLC
          , Moscow, Russia
          %i.flag.flag-RU
          (HQ located in US)
        %p Front-end Architect
        %ul
          %li Designed UI for websites and web applications
          %li Developed rapid and detailed UI and websites prototypes Developed production xHTML/CSS/JavaScript code
          %li Took part in front-end development (JavaScript, AJAX etc.) Consulted in fields of interaction design, HCD, usability
          %li Led a team of 3-4 people (both designers and front-end developers)
      %dt 06.2004 &mdash; 12.2005
      %dd
        %h3
          %a(href="http://mediatel.ru") Mediatel
          , Moscow, Russia
          %i.flag.flag-RU
        %p Senior UI Designer, IT-Architect
        %ul
          %li Designed UI for a variety of projects (both web and desktop-based applications) Developed rapid and detailed UI prototypes
          %li Drove usability tests
          %li Developed corporate UI standards
          %li Took part in project management, front-end development Developed production xHTML/CSS/JavaScript code
          %li Consulted in fields of interaction design, HCD, usability
          %li Led a team of 3-4 people (both designers and front-end developers)
      %dt 11.2003 &mdash; 06.2004
      %dd
        %h3
          WebImage 2000, Inc., Yaroslavl, Russia
          %i.flag.flag-RU
          (HQ located in US)
        %p Senior Designer, UI Developer, Information Architect
        %ul
          %li Designed UI for internal company projects (content managements systems etc) Took part in front-end development
          %li Designed corporate identity for various companies
          %li Designed promo ads and graphic elements for company’s purposes
          %li Consulted in fields of interaction design, HCD, usability
      %dt 08.2003 &mdash; 11.2003
      %dd
        %h3
          %a(href="http://www.individ.ru") Individ Co.
          , Yaroslavl, Russia
          %i.flag.flag-RU
        %p Information Architect, UI Designer, Screen Designer
        %ul
          %li Designed information structures
          %li Designed and developed UIs for web applications
          %li Wrote IA- and UI-related parts of proposals
          %li Designed and developed websites and web applications Designed and developed multimedia presentations
      %dt 11.2002 &mdash; 04.2003
      %dd
        %h3
          Volkswagen AG K-DOV-1/3, Wolfsburg, Germany
          %i.flag.flag-DE
        %p UI Designer &amp; Developer
        %ul
          %li Redesigned a UIs for &ldquo;PartnerNet Volkswagen&rdquo; &amp; &ldquo;PartnerNet Volkswagen Nutzfahrzeuge&rdquo; web applications
          %li Consulted in fields of usability and human centered design (HCD)
          %li Learned Volkswagen AG standards and guidelines
      %dt 08.2002 &mdash; 11.2002
      %dd
        %h3
          %a(href="http://www.individ.ru") Individ Co.
          , Yaroslavl, Russia
          %i.flag.flag-RU
        %p Information Architect, UI Designer, Screen Designer
        %ul
          %li Designed information structures
          %li Designed and developed UIs for web applications
          %li Wrote IA- and UI-related parts of proposals
          %li Designed and developed websites and web applications Designed and developed multimedia presentations
      %dt 11.2001 &mdash; 08.2002
      %dd
        %h3
          %a(href="http://www.incap.ru") INCAP, Inc.
          , Yaroslavl, Russia
          %i.flag.flag-RU
        %p UI Engineer (promoted to Senior UI Engineer in April 2002)
        %ul
          %li Designed UIs for desktop software and web applications Designed and developed websites and web applications
      %dt 09.2001 &mdash; 10.2001
      %dd
        %h3
          %a(href="http://www.tomstudio.ru") Web agency &ldquo;TomStudio&rdquo;
          , St. Petersburg, Russia
          %i.flag.flag-RU
        %p Web &amp; Multimedia Designer
        %ul
          %li Designed websites
          %li Designed and developed multimedia presentations
      %dt 11.1999 &mdash; present
      %dd
        %h3 Freelance Web &amp; Graphic Designer
        %p Variety of websites design projects:
        %ul
          %li
            %a(href="http://smp-group.com") http://smp-group.com
          %li
            %a(href="http://miniserver.ru") http://miniserver.ru
          %li
            %a(href="http://cetera.ru") http://cetera.ru

        %p and many others. In all of web projects: prototyping, visual design, HTML/CSS coding.

  %section.section.resume__portfolio
    %h2.section__title Portfolio
    %p.section__subtitle Brief list of the completed projects
    %dl.projects
      %dt.project
        %h3.project__name
          %a(href="http://colorsnapper.com") ColorSnapper
        %p.project__descr Mac&nbsp;OS Application
      %dd
        %p.project__roles Idea and UX/UI design, public website design and implementation, icon and graphic design of the application, application support.

      %dt.project
        %h3.project__name
          %a(href="//sauspiel-html5-demo.herokuapp.com/") Sauspiel HTML5 Game Clinet
        %p.project__descr HTML5 app available for desktop and mobile devices

      %dd
        %p.project__roles JavaScript/CoffeeScript, HTML5/CSS3 developer. Technologies include Backbone.js, jQuery, WebSockets, Canvas etc.

      %dt
        %h3.project__name
          %a(href="http://www.beanstalkapp.com") Beanstalk
        %p.project__descr Web application
      %dd
        %p.project__roles Complete UI design, logo and CI design, HTML/CSS/JS implementation, public site and web application design.

      %dt
        %h3.project__name
          %a(href="http://wildbit.com") Wildbit.com
        %p.project__descr Public website
      %dd
        %p.project__roles Visual design, HTML/CSS, JavaScript (using moo.tools JS framework), Wordpress theme implementation.

      %dt
        %h3.project__name Nuzizo.com
        %p.project__descr Social web application
      %dd
        %p.project__roles Visual design, detailed HTML prototyping, production HTML/CSS code, front-end JavaScript functions, AJAX-based features implementation.

      %dt
        %h3.project__name
          %a(href="http://podcastpeople.com") PodcastPeople.com
        %p.project__descr Public website and web application
      %dd
        %p.project__roles Public web application: UI design, visual design, production xHTML/CSS/JavaScript.
        %p.project__roles Administrator web application UI design, visual design, production xHTML/CSS/JavaScript.

      %dt
        %h3.project__name Mediatel&rsquo;s TelCRM
        %p.project__descr A CRM for network service providers. Clients: MTS, MGTS, ComStar, SkyLink etc.
      %dd
        %p.project__roles Task-flow and work-flow analysis, rapid and detailed prototyping, interaction design, visual design, usability testing, production HTML/CSS/JavaScript, usability consulting.

      %dt
        %h3.project__name CashRegister
        %p.project__descr Desktop cash register application for cellular service providers. Client: MTS
      %dd
        %p.project__roles Task-flow and work-flow analysis, rapid and detailed prototyping, interaction design, visual design, usability testing, usability consulting.

  %section.section.resume__oss
    %h2.section__title Open Source Projects
    %dl
      {% include projects_long.html %}

  %section.section.resume__speaker
    %h2.section__title Conferences &amp; Membership
    %dl
      %dt 03.2007
      %dd
        %h3 RIT-2007, Moscow
        %p Talk: &ldquo;JavaScript for rich web applications: JavaScript frameworks overview&rdquo; (in collaboration with Leonid Khachaturov).
        %p Talk: &ldquo;Front-end architect: who is it?&rdquo;.
      %dt 11.2007
      %dd
        %h3 Client Side 2007, Moscow
        %p Talk: &ldquo;Graphic design applied to web&rdquo;.
      %dt 2010
      %dd Short talks at Vienna JS meetup

  %section.section.resume__skills
    %h2.section__title Skills
    %dl
      %dt
        %h3 Methodologies &amp; Practices
      %dd
        %ul.section__descr
          %li Human Centered Design methodology and process
          %li Information Architecture, task flow and work flow analysis and modeling
          %li Interaction Design, rapid prototyping, usability testing (heuristic and user-testing analysis)
          %li Typography and typesetting
          %li Mobile development
          %li Source control (Git, Subversion, CVS)

      %dt
        %h3 Technologies
      %dd
        %ul
          %li HTML5 &mdash; expert
          %li CSS2, CSS3, Sass, Compass &mdash; expert
          %li JavaScript &mdash; expert
          %li CoffeeScript &mdash; expert
          %li Browsers Engines (IE6+, Gecko (Firefox 3.x+), WebKit, Opera) &mdash; expert
          %li Ruby, Ruby on Rails, node.js, PHP, XML/XSLT, HAML etc. &mdash; good

      %dt
        %h3 Software &amp; Tools
      %dd
        %ul
          %li Windows, Mac OS X
          %li Adobe Fireworks, Photoshop, Illustrator, InDesign
          %li Textmate, Sublime Text 2, XCode
          %li Git, Subversion
          %li Unix console

      %dt
        %h3 Languages
      %dd
        %ul.skill_langs
          %li.skill_lang
            %i.flag.flag-RU
            Russian
            %em &mdash; mother tongue
          %li.skill_lang
            %i.flag.flag-GB
            English
            %em &mdash; excellent
          %li.skill_lang
            %i.flag.flag-DE
            German
            %em &mdash; excellent

  %section.section.resume__social
    %h2.section__title Public Profiles
    {% include profiles.html %}
