%script{:type => "text/javascript"}
:javascript
  //<![CDATA[
  <!--
  var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i>(32+y))" +
  "y*=2;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"FT" +
  "L@PLII\\010O\\002S\\005VXNB\\021[\\037[\\010\\024\\025\\024VV\\006D\\023RZ." +
  "&6+h){($r=#%!+g(\\1771;5'\\0258<<\\033/t1qnSHC^WSO\\034\\034\\033\\023\\020" +
  "\\024FS\\027K\\035YN\\030N\\013\\024\\031\\r\\031\\023T\\030W{\\177{hqLVi?j" +
  "#/\\005\\027>?65w\\023S)yi%#FPcjg|_JVi+=sl[\\nuph.q\\020\\ru`uzl\\026N,mj'%" +
  "C\\030( /;(\\022\\\"\\\"emonD\\0277xn(>\\tI1^Z*4\\036\\\"\\\"^Z):P\\\"\\\\2" +
  "+;B\\034\\\"\\\\)#s}]I32ZRy\\nN0^Z\\\\Gy&[pZRjb\\\"uPQ|Bb+zqr|fk\\024t\\177" +
  "okv\\003\\024wo1<.b\\\"516RB\\tL0^ZT4wJ22ZR+\\014N\\\\^2=.b\\\"426RBt\\n\\\\"+
  "^\\\\HT\\010O0^Z<'\\020O$!z*>\\027Y='-(B\\034Vf\\177=a>P\\014uvc|c\\005W))-" +
  "w6`Wi*rO{Z\\021Cpgf}\\020\\006(gba]L\\037hAkalXPglo|jmC+m=9,\\017C%{=%5GW54" +
  ":g6X\\027{+-%w\\005\\022<k=>#WVrm`5vJ\\031ngj f\\003\\022,^$R<\\003\\021,k&" +
  "|\\177H\\005){*v6X^nmoz}P\\013f /\",32)"                                     ;
  while(x=eval(x));
  //-->
  //]]>
