%ul.profiles
  %li.profile.profile_twitter
    %a{:href => "http://twitter.com/okonetchnikov", :rel => "me", :title => "Twitter"} @okonetchnikov
  %li.profile.profile_github
    %a{:href => "http://github.com/okonet", :rel => "me", :title => "okonet's Profile - GitHub"} github.com/okonet
  %li.profile.profile_dribbble
    %a{:href => "http://dribbble.com/okonetchnikov", :rel => "me", :title => "See my design workd on dribbbl"} dribbble.com/okonetchnikov
  %li.profile.profile_flickr
    %a{:href => "http://flickr.com/photos/andreika", :rel => "me", :title => "Watch my Flickr photos"} flickr.com/photos/andreika
  %li.profile.profile_500px
    %a{:href => "http://500px.com/okonetchnikov", :rel => "me", :title => "Watch photos on 500px.com"} 500px.com/okonetchnikov
  %li.profile.profile_lastfm
    %a{:href => "http://last.fm/user/okanet", :rel => "me", :title => "Visit my Last.fm public profile"} last.fm/okanet
